<%= render 'shared/user' , user: @user%>
<div class="bio">
<h1>Bio<h1>
<p><%= @user.Bio%></p>
</div>

<div class="posts">
   <%@user.recent_posts.each do |post|%>
   <%= render 'shared/post', post: post%>
   <%end%>
   <div class="see-all">
   <a href="<%= @user.id%>/posts/" class="see-button">see all posts</a>
   </div>
</div>
