<div class="posts-container">
  <div class="post-name">
  <h1><%= post.Title%><h1>
  <p><%= post.Text%></p>
  </div>
  <div class="coment-likes">
  <p>comments: <%= post.ComentsCounter%></p>
  <p>likes: <%= post.LikesCounter%></p>
  </div>

</div>