<div class="posts">
  <div class="posts-container">
  <div class="post-title">
  <h1 class="POST"><%= post.Title %></h1>
  <p><%= post.Text %></p>
  <p>Number of comments: <%= post.ComentsCounter%></p>
   <p>Number of likes: <%= post.LikesCounter%></p>
  <div>

  
  
  </div>


</div>