<div class="posts-container">
  <h2><%= post.Title%><h2>
  <p><%= post.Text%></p>
  </div>
  <div class="coment-likes">
  comments: <%= post.ComentsCounter%>
  likes: <%= post.LikesCounter%>
  </div>
</div>